body {
  text-align: center;
  background-color: #ACFAFA;
}

h1 {
  font-family: sans-serif;
  color: #38D94B;
}

p {
  line-height: 20px;
  font-size: 20px;
  color: #3876D9;
}

.gallery {
  margin: 15px;
  float: left;
  width: 380px;
}

ul {
  list-style-type: none;
  padding-right: 30px;
}

a:hover {
  color: #D99B38;
}

a:active {
  color: #D938C7;
}
