h1 {
  font-family: sans-serif;
}

p {
  line-height: 20px;
  font-size: 20px;
  color: #54737D;
}

body {
  text-align: center;
}

.gallery {
  margin: 15px;
  float: left;
  width: 380px;
}

ul {
  list-style-type: none;
  padding-right: 30px;
}
