h1 {
  font-family: sans-serif;
}

p {
  line-height: 16px;
}

body {
  text-align: center;
}

.gallery {
  margin: 5px;
  float: left;
  width: 180px;
}

ul {
  list-style-type: none;
  padding-right: 30px;
}
